{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="dashboard">
    <h2>Login</h2>
    {% if messages %}
        <ul style="color: red;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <p class="Register_now">You dont have account?<a href="{% url 'accounts:register' %}">Register Now!</a></p>
    <video autoplay muted loop id="bg-video">
    <source src="{% static '/images/cc9176d8a319e2f2a23e5e2e2ae3a033_t4.mp4' %}" type="video/mp4">
    Your browser does not support HTML5 video.
</video>
</div>
{% endblock %}